In [14]:
import pandas as pd
import numpy as np
from tqdm import tqdm
print("Done")

Done

In [ ]:
#zad2 
lista1 = ["Patryk", "Ala", "Jacek"]
lista2 = []

print(lista1)
print(lista2)

while len(lista1) != 0:
  for i in lista1:
    lista2.append(i)
    lista1.remove(i)

print(lista1)
print(lista2)

In [11]:
def funkcja_lista(x1, x2):
  while len(x1) != 0:
    for i in x1:
      x2.append(i)
      x1.remove(i)
  print(x1)
  print(x2)

In [ ]:
lista1 = ["Patryk", "Ala", "Jacek"]
lista2 = []

funkcja_lista(lista1, lista2)

In [18]:
#Zad3

MAIN_DF = pd.read_csv("/content/train(3).csv")
df = MAIN_DF[["Name", "Age", "Sex"]].copy()

In [ ]:
df

In [21]:
def czy_30(wiek):
  if wiek <= 30:
    return "Poniżej 30 lat"
  else:
    return "Powyżej 30 lat"

In [24]:
df["Powyżej/Poniżej 30"] = df["Age"].apply(czy_30)

In [ ]:
df

Pattern Matching

In [ ]:
#Wyrażenia regularne (Regex - regular expression)

#to metajęzyk (język znaków specjalnych), który wykorzystywany jest do tworzenia wzorców TEKSTOWYCH.
#Regexy mają swoją gramatykę, swoje znaki i swoje znaczenie

In [26]:
import re

In [38]:
tekst = "Nazywam się Patryk Hubar i prowadzę teraz zajęcia. Jan Kowalski słucha"

In [39]:
re.findall("[A-Z][a-z]+\s[A-Z][a-z]+", tekst)

['Patryk Hubar', 'Jan Kowalski']