In [ ]:
import numpy as np
import pandas as pd
print("Done")

Done

In [ ]:
MAIN_DATA = pd.read_csv("/content/sample_data/train.csv")

In [ ]:
df = MAIN_DATA.copy()

In [ ]:
df.head()

In [ ]:
df.tail(10)

In [ ]:
df.info()

In [ ]:
df[["Name", "Age", "Sex"]]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df['Age']

Typy danych w pandas:

- Seria - dane jednowymiarowe
  w seriach można definiować swoje własne indeksy

In [ ]:
seria = pd.Series(lista, index = ["a", "b", "c"])

In [ ]:
seria

a    4
b    5
c    6
dtype: int64

In [ ]:
lista = [4, 5, 6]

In [ ]:
lista[0:4:2]

In [ ]:
seria[0:5:2]

In [ ]:
df_test = pd.DataFrame({"pierwsza kolumna" : [1,2,3], "druga kolumna": [4, 5, 6] })

In [ ]:
df_test

   pierwsza kolumna  druga kolumna
0                 1              4
1                 2              5
2                 3              6

In [ ]:
#.iloc[indeksy_wierszy, indeksy_kolumn]
#.loc [indeksy_wierszy, nazwy_kolumn]

In [ ]:
df_test.iloc[0:2 , 0:2]

In [ ]:
df_test

   pierwsza kolumna  druga kolumna trzecia kolumna
0                 1              4          Patryk
1                 2              5             Ola
2                 3              6             Ala

In [ ]:
df_test["trzecia kolumna"] = ["Patryk", "Ola", "Ala"]

In [ ]:
del(df_test["trzecia kolumna"])

In [ ]:
#df_test[df_test > 5]

In [ ]:
df_test["druga kolumna"].mean()

5.0

In [ ]:
df_test.describe()

Iterowanie po DataFrame

In [ ]:
lista

[4, 5, 6]

In [ ]:
for elem in lista:
  print(elem)

4
5
6

In [ ]:
for elem in df_test:
  print(elem)

In [ ]:
# for i, row in df_test.iterrows():
#   print(i, row)

#TEGO NIE ROBIMY

List Comprehension

In [ ]:
df_test

   pierwsza kolumna  druga kolumna  ... czwarta kolumna  piąta kolumna
0                 1              4  ...               5         Pbtryk
1                 2              5  ...               6            Olb
2                 3              6  ...               7            Alb

[3 rows x 5 columns]

In [ ]:
df_test["czwarta kolumna"] = [elem + 1 for elem in df_test["druga kolumna"]]

In [ ]:
# for elem in lista:
#   print(elem + 1)

In [ ]:
df_test["piąta kolumna"] = [elem.replace("a", "b") for elem in df_test["trzecia kolumna"]]

In [ ]:
df.head()